*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  *::after{
    box-sizing:border-box;
  }
  *::before{
    box-sizing:border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .code-wrapper{
    flex: 1;
    height: 50%;
    padding: 10px;
  }
  .preview-wrapper{
    flex: 1;
    height: 50%;
  }
  #code{
    overflow: hidden;
    height: 100%;
  }
  .actions{
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .actions>button{
    background:rgb(19, 194, 194);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 2px 2px; 
  }

  .actions>button.active{
    background: rgb(24, 144, 255);
  }

  .actions>button:focus{
    outline: none;
  }